<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<H1>Add User</H1>

<form action="/users/add" method="post">
    <label>
        <input name="name" type="text" placeholder="Name">
    </label><br>
    <label>
        <input name="surname" type="text" placeholder="Surname">
    </label><br>
    <label>
        <input name="email" type="email" placeholder="Email">
    </label><br>
    <label>
        <input name="age" type="number" placeholder="Age">
    </label><br>
    <input type="submit" value="Add User">
</form>
</body>
</html>