<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All Users</h1>
<a href="/users/add">Add User</a>

<table border="1px">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EMAIL</th>
        <th>AGE</th>
        <th>ACTION</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/users/{id}(id = ${user.id})}">Delete</a> |
            <a th:href="@{/users/update/{id}(id = ${user.id})}">Update</a>
        </td>
    </tr>
</table>
</body>
</html>